<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novin</title>
    <link rel="icon" type="image/x-icon" href="../files/pen.svg">
</head>
<body>
    <form action="/admin-update-item" method="POST" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="last_name" placeholder="نام قبلی" autofocus>
        <input type="text" name="new_name" placeholder="نام جدید" autofocus>
        <input type="number" name="price" placeholder=" به تومان قیمت"> 
        <input type="number" name="number" placeholder="چند عدد از محصول موجود است؟">
        <input type="text" name="description" placeholder="توضیحات">
        <input type="submit" value="update">


        <a href="/admin-page">admin-page</a>
        <a href="/admin-logout">admin-logout</a>
    </form>
</body>
</html>