<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novin</title>
    <link rel="icon" type="image/x-icon" href="../files/pen.svg">
</head>
<body>
    <form action="/admin-add-item" method="POST" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="item_name" placeholder="نام" autofocus>
        <input type="number" name="item_price" placeholder=" به تومان قیمت"> 
        <input type="number" name="item_number" placeholder="چند عدد از محصول موجود است؟">
        <select name="item_type" id="type">
            <option value="bottle">بطری و ماگ</option>
            <option value="stationery">لوازم تحریر</option>
            <option value="bag">کیف و کوله</option>
            <option value="gift">کادوئی</option>
            <option value="book">کتاب</option>
        </select>
        <input type="file" name="file" id="file">
        <input type="text" name="item_description" placeholder="توضیحات">
        <input type="submit" value="add">
        <a href="/admin-page">admin-page</a>
        <a href="/admin-logout">admin-logout</a>
    </form>
</body>
</html>